{% extends 'admin/master.html' %}
{% block student_list %}
    <div style="display: flex; justify-content: space-between;">
        <label>Add New Category</label>
    </div>
    <div class="container-fluid pt-3">
        <form method="POST">
{#            <div class="form-group">#}
{#                <label for="category">Category:</label>#}
{#                <select class="form-control" name="category">#}
{#                    <option value="1">1</option>#}
{#                    <option value="2">2</option>#}
{#                    <option value="3">3</option>#}
{#                </select>#}
{#            </div>#}
            <div class="form-group">
                <label for="name">Category Name:</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status">
                    <option value="Available">Available</option>
                    <option value="Unavailable">Unavailable</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add Student</button>
            <a class="button btn btn-danger" href="{{ url_for('product.product_list') }}">Discard</a>
        </form>
    </div>
{% endblock %}