{% extends 'admin/master.html' %}
{% block student_list %}
    <div style="display: flex; justify-content: space-between;">
        <label>Add New Customer</label>
    </div>
    <div class="container-fluid pt-3">
        <form method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="text" class="form-control" id="image" name="image">
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status">
                    <option value="Available">Available</option>
                    <option value="Unavailable">Unavailable</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save Customer</button>
            <a class="button btn btn-danger" href="{{ url_for('customer.customer_list') }}">Discard</a>
        </form>
    </div>
{% endblock %}